/* Responsive container of the svg element */
.responsive-svg-container {
    width: 100%;
    max-width: 800px;
  }
  .responsive-svg-container.small {
    margin: 0 auto;
    max-width: 300px;
  }

/*Text formatting of the axis labels */
.axis-x text, .axis-y text {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
}